@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

body {
    background-color: #ecf5ff !important;
}

/* 332766 */

header .row div.title {
    font-size: 70px;
}

header .row div.title span {
    color: #61539c;
    font-family: 'Changa', sans-serif;
    font-size: larger;

}

header .row div.title button.primary {
    background-color: #61539c;
    color: #ecf5ff;
    box-shadow: 3px 4px 1px #bedafa;
}

header .row div.title button.primary:hover {
    background-color: #674cd4;
}

header .row div.title button.secondary {
    border: 1px solid #61539c;
    color: #61539c;
    box-shadow: 3px 4px 1px #bedafa;
}

header .row div.title button.secondary:hover {
    background-color: #61539c;
    color: #ecf5ff;
}

section h1 {
    font-size: 60px;
    letter-spacing: 1px;
    color: #444;
}


/* UTILIERS */

/* font-family: 'Changa', sans-serif; */




.container {
    box-shadow: 1px 1px 10px #bedafa;

}

.navbar {
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}


.navbar-brand img.img-size {
    width: 120px;
    height: 120px;
}

.navbar .navbar-nav .nav-link {
    color: #61539c !important;
}

.navbar .navbar-nav .nav-link:first-child {
    background-color: #61539c;
    border-radius: 13px;
    color: #ecf5ff !important;
}

.navbar .navbar-nav .nav-link:first-child:hover {
    box-shadow: 2px 2px 1px 4px #61539c;
}


.navbar .navbar-nav .nav-link:hover {
    background-color: #61539c;
    border-radius: 50px;
    color: #ecf5ff !important;
}


.cards-wrapper .detail  {
border-right: 1px solid rgba(153, 153, 153, 0.308);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cards-wrapper .detail img {
    width: 100px;
    height: 100px;
}

.cards-wrapper .content .h2 {
    color: #674cd4;
    letter-spacing: 0.5px;
    text-align: center;
}

#postsNumber {
    color: #999;
}


@media screen and (max-width: 1200px) {
    header .title {
        width: 100%;
    }
    header div img.img-fluid {
        display: none;
    }
}
